.global-wrapper {
  background-color: lightblue;
  padding: 2em 4em;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

.meme-wrapper {
  position: relative;
  border-top: 0.2em solid grey;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  padding-right: 1em;
}

.icon-wrapper {
  flex: 1 0 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
}

h2 {
  margin-right: auto;
}

.icon-wrapper > img {
  width: auto;
  height: 100%;
  object-fit: cover;	
}

.open-close {
  width: 2em;
  height: 2em;
  background: none;
  border: none;
}

.open-close > svg {
  width: 100%;
  height: 100%;
  margin-top: 1em;
}

.meme-wrapper:hover {
  cursor: pointer;
}